<div class="row text-center">
    <div class="col-md-12">
        <div class="" style="width: auto;" *ngFor="let blog of blogs ">
            <div class="card-header">
              {{blog.article_title}}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">This blog contains: {{blog.article}}</li>
                <!-- <li class="list-group-item">Posted: {{blog.date}} </li> -->
                <button class="btn btn-primary">Posted: {{blog.date}}</button>
            </ul>
        </div>
    </div>
</div>